.tableContainer {
    display: grid;
    grid-template-columns:
      minmax(150px, 1fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr);
  }
  
  .tableContainer:first-child {
    font-weight: bold;
    font-size: 30px;
  }
  
  .item {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 10px;
  }
  